@charset "utf-8";

@import url("font-awesome.min.css");
@import url("framework.css");


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:100px 0;}

#pageintro article{display:block;; max-width:100%;text-align: center;}
#pageintro p{font-weight:600;font-size:2rem;font-style:oblique;line-height:2;}
#pageintro footer{margin-top:50px;}


/* Page mid content
--------------------------------------------------------------------------------------------------------------- */
#pagemcont{padding:50px 0;}

#pagemcont article{display:block;; max-width:100%;text-align: center;}
#pagemcont p{font-weight:600;font-size:2rem;font-style:oblique;line-height:2;}
#pagemcont footer{margin-top:50px;}

/* Page footer content
--------------------------------------------------------------------------------------------------------------- */
#pagefcontent{padding:45px 0;}

#pagefcontent article{display:block;; max-width:100%;text-align: center;}
#pagefcontent h6{font-weight:600;font-size:2rem;font-style:oblique;line-height:2; }
#pagefcontent p{font-weight:150;font-size:1rem;font-style:oblique;line-height:2;}
#pagefcontent footer{margin-top:50px;}

/*Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}

.excerpt{}
.excerpt article{max-width:320px;}

/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#7A7A7A; background-color:#FFFFFF;}
a{color:#04DEE0;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.8);}
.overlay.light::after{background-color:rgba(0,0,0,.55);}

.btn{border-style:ridge;},
/*.btn.inverse:hover{color:#FFFFFF; background-color:#04DEE0; border-color:#04DEE0;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}*/
.imgover:hover::before{background:rgba(0,0,0,.55);}
.imgover, .imgover:hover::after{color:#FFFFFF;}

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	.container{}
/*.pagination li{display:inline-block; margin:0 5px 5px 0;}   */
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}
	/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#pageintro article{max-width:none; text-align:left;}
	#pageintro .heading{font-size:2rem;}

	.sectiontitle{max-width:none;}

	.overview > li:nth-last-child(-n+3){margin-bottom:50px;}

/*	#footer{padding-bottom:50px;}*/         /* Not required, just looks better */
}


@media screen and (max-width:450px){
	#topbar > div:first-of-type ul li{display:block; margin:0 0 2px 0;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}
}
